<ul>
  <li><a routerLink="/resource/food-cate" routerLinkActive="active">食品分类管理</a></li>
  <li><a routerLink="/resource/check-project" routerLinkActive="active">检测项目管理</a></li>
  <li><a routerLink="/resource/judge-standard" routerLinkActive="active">判定标准管理</a></li>
  <li>
    <div>用户权限管理</div>
    <ul>
      <li><a routerLink="/resource/user" routerLinkActive="active">用户管理</a></li>
      <li><a routerLink="/resource/role" routerLinkActive="active">角色管理</a></li>
      <li><a routerLink="/resource/resource" routerLinkActive="active">资源管理</a></li>
      <li><a routerLink="/resource/log" routerLinkActive="active">操作日志</a></li>
      <li><a routerLink="/resource/dictionary" routerLinkActive="active">字典管理</a></li>
      <li><a routerLink="/resource/organize" routerLinkActive="active">组织架构管理</a></li>
    </ul>
  </li>
</ul>
