<ul>
  <li><a routerLink="/check/sample" routerLinkActive="active">样品采集</a></li>
  <li><a routerLink="/check/objection" routerLinkActive="active">异议管理</a></li>
  <li>
    <div>任务部署</div>
    <ul>
      <li><a routerLink="/check/task-upload" routerLinkActive="active">任务上传</a></li>
      <li><a routerLink="/check/task-reach" routerLinkActive="active">任务下达</a></li>
      <li><a routerLink="/check/file" routerLinkActive="active">红头文件</a></li>
      <li><a routerLink="/check/entrust" routerLinkActive="active">任务委托书</a></li>
    </ul>
  </li>
  <li>
    <div>报告管理</div>
    <ul>
      <li><a routerLink="/check/report-upload" routerLinkActive="active">报告上传</a></li>
      <li><a routerLink="/check/report-handle" routerLinkActive="active">报告处置</a></li>
    </ul>
  </li>
</ul>
